{
  :deps {io.github.metosin/malli {:git/tag "0.8.3" :git/sha "806fa14"}
         org.clojure/tools.deps.alpha {:git/url "https://github.com/clojure/tools.deps.alpha"
                                       :git/sha "e4fb92eef724fa39e29b39cc2b1a850567d490dd"}} 
}
